.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.form-inline {
    margin: 0 0 2rem 0;
}
.film-container {
    width: min(1140px, 100%);
    margin: 0 auto;
    padding: 2rem 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    height: 250px;
    overflow: hidden;
}
#random-movie {
    min-height: 60vh;
    margin: 0 0 1rem 0;
    background-size: cover;
}
.overview {
    padding: 1rem;
    background: rgba(63, 63, 63, 0.8);
}
.movie-container {
    border: 1px solid rgba(128, 128, 128, 0.3);
    height: 350px;
    overflow: hidden;
}
.description {
    padding: 1rem;
}
.title {
    width: 90%;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.date {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
}
